*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(20, 19, 19);
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
.container nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-and-funny{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.name-and-funny h1{
    font-size: 45px;
    font-family: calibri;
    flex-shrink:5;
}

.name-and-funny img{
    width: 80px;
    height: auto;
    margin-left: 15px;
    border-radius: 15px;
    border: 2px solid rgb(255, 201, 201);
}

.container nav h1:first-letter{
    color: rgb(255, 136, 156);
}

.container nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: calibri;
    color: white;
    position: relative;
    transition: color .5s;
    z-index: 1;
}

nav ul li a:hover{
    color: pink;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 20px;
    background: white;
    position: absolute;
    left: -15%;
    bottom: 0px;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 10px;
}

nav ul li a:hover::after{
    width: 130%;
}

.intro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: middle;
}

.intro img{
    margin-top: 12%;
    border-radius: 15px;
    border: 3px solid rgb(99, 99, 99);
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 15px
}

.header-text h1 span{
    color:rgb(255, 136, 156)
}

/*---------------------------------------------------------------about--------------------------------------------------------------*/

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    border: 3px solid rgb(99, 99, 99);
}

.about-col-2{
    flex-basis: 60%;
    font-size: 25px;
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: calibri;
}